.myInput {
    width: 100%;
    padding: 20px 70px;
    margin: 10px 0px;
    color: #2a1100;
    border: 1px solid #2c0202;
}

.myInput::placeholder {
    white-space: pre;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: initial;
    color: darkgray;
}