@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

.account {
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3)
    ),
    url("https://mozaic96.ru/uploadedFiles/eshopimages/big/8_540.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
}

.account * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none; /* Изменено на none, так как capitalize было применено к всему тексту */
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

.account header::selection {
    background: orange;
    color: #fff;
}

.account header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2a1100;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.account header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.account header .logo h1 {
    color: orange;
}


.account header .search-bar-container #label {
    color: #fff;
    cursor: pointer;
}

.account header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin:0.8rem;
}

.account header .navbar a:hover {
    color:orange;
}