@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

.Main {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3)
    ),
    url("https://mozaic96.ru/uploadedFiles/eshopimages/big/8_540.jpg");
    background-size: cover;
    background-position: center;
}

.Main * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none; /* Изменено на none, так как capitalize было применено к всему тексту */
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

.Main header::selection {
    background: orange;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.Main header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2a1100;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.Main header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.Main header .logo h1 {
    color: orange;
}

.Main header .navbar a {
    color: #fff;
    font-size: 2rem;
    margin:0.8rem;
}

.Main header .navbar a:hover {
    color:orange;
}

.Main header .icons i {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

.Main header .icons i:hover {
    color: orange;
}

.Main header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0; right:0;
    padding: 1.5rem 2rem;
    background: #2a1100;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.Main header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.Main header .search-bar-container #search-bar {
    width:100%;
    padding:1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

.Main header .search-bar-container #label {
    color: #fff;
    cursor: pointer;
}

.Main {
    height: 200rem;
}

.Main h2 {
    margin-top: 11rem;
    font-size: 3rem;
    padding: 1rem;
}

.Main .card {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.Main .card .card_img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Main .card_body {
    padding: 40px;

}
.Main .card_title {
    margin-top: 0;
    margin-bottom: 20px;
}

.Main .card_desc {
    margin-top: 0;
    margin-bottom: 0;
}

.Main .list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 10px;
    row-gap: 40px;
}

@media (max-width: 500px) {
    .list {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 750px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}